

*{
    box-sizing:border-box;
   margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
}





.mobile{
    padding: 24px;
  
}
.mobile a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
 /*   margin-bottom: 24px;*/
}
.mobile ul{
    padding: 0;
    margin: 23px 0;
    list-style: none;
}
.mobile ul li{
    margin-bottom: 24px
}

.mobile ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.sign-out{
    color: var(--hospital-green);
}
.correo{
    font-size: var(--sm);
    font-weight: 300px !important;
}

.mobile ul:nth-child(3) {
    margin-top: 100px;
}


.my-order {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
} 


/* se agrego en la parte de las ordenes y contenedores dentro de este mismo css */
.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.order p span:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

.order p span:nth-child(2) {
    font-size: 12px;
    color: var(--very-light-pink);
}

.title-order {
    font-size: 16px;
    margin-bottom: 40px;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart figure img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
    font-size: 14px;
    font-weight: bold;
}